[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "*"
pylint = "*"
flake8 = "*"
pydocstyle = "*"
pytest = "*"
PyGithub= "*"
streamlit = "*"
numpy = "*"
pandas = "*"
fastapi = "*"
uvicorn = "*"
codacy-coverage = "*"
radon = "*"
bandit = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
test = "./scripts/test.sh"
cover = "./scripts/cover.sh"
lint = "./scripts/lint.sh"
test-win = 'scripts\\test.bat'
cover-win = 'scripts\\cover.bat'
lint-win = 'scripts\\lint.bat'
